In [ ]:
# How to choose model for a given dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
adult = pd.read_csv('/content/drive/MyDrive/adult.csv')

In [ ]:
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
adult['income'] = lb.fit_transform(adult['income'])
adult['relationship'] = lb.fit_transform(adult['relationship'])
adult['marital-status'] = lb.fit_transform(adult['marital-status'])
adult['education'] = lb.fit_transform(adult['education'])
adult['workclass'] = lb.fit_transform(adult['workclass'])
adult['occupation'] = lb.fit_transform(adult['occupation'])

In [ ]:
adult = pd.get_dummies(adult, columns = ['race', 'gender', 'native-country'])

In [ ]:
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,capital-gain,capital-loss,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,4,226802,1,7,4,7,3,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,4,89814,11,9,2,5,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,2,336951,7,12,2,11,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,4,160323,15,10,2,7,0,7688,0,...,0,0,0,0,0,0,0,1,0,0
4,18,0,103497,15,10,4,0,3,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 61 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        48842 non-null  int64
 1   workclass                                  48842 non-null  int64
 2   fnlwgt                                     48842 non-null  int64
 3   education                                  48842 non-null  int64
 4   educational-num                            48842 non-null  int64
 5   marital-status                             48842 non-null  int64
 6   occupation                                 48842 non-null  int64
 7   relationship                               48842 non-null  int64
 8   capital-gain                               48842 non-null  int64
 9   capital-loss                               48842 non-null  int64
 10  hours-per-week                             48842 non-null  int64
 11  income                                     48842 non-null  int64
 12  race_Amer-Indian-Eskimo                    48842 non-null  uint8
 13  race_Asian-Pac-Islander                    48842 non-null  uint8
 14  race_Black                                 48842 non-null  uint8
 15  race_Other                                 48842 non-null  uint8
 16  race_White                                 48842 non-null  uint8
 17  gender_Female                              48842 non-null  uint8
 18  gender_Male                                48842 non-null  uint8
 19  native-country_?                           48842 non-null  uint8
 20  native-country_Cambodia                    48842 non-null  uint8
 21  native-country_Canada                      48842 non-null  uint8
 22  native-country_China                       48842 non-null  uint8
 23  native-country_Columbia                    48842 non-null  uint8
 24  native-country_Cuba                        48842 non-null  uint8
 25  native-country_Dominican-Republic          48842 non-null  uint8
 26  native-country_Ecuador                     48842 non-null  uint8
 27  native-country_El-Salvador                 48842 non-null  uint8
 28  native-country_England                     48842 non-null  uint8
 29  native-country_France                      48842 non-null  uint8
 30  native-country_Germany                     48842 non-null  uint8
 31  native-country_Greece                      48842 non-null  uint8
 32  native-country_Guatemala                   48842 non-null  uint8
 33  native-country_Haiti                       48842 non-null  uint8
 34  native-country_Holand-Netherlands          48842 non-null  uint8
 35  native-country_Honduras                    48842 non-null  uint8
 36  native-country_Hong                        48842 non-null  uint8
 37  native-country_Hungary                     48842 non-null  uint8
 38  native-country_India                       48842 non-null  uint8
 39  native-country_Iran                        48842 non-null  uint8
 40  native-country_Ireland                     48842 non-null  uint8
 41  native-country_Italy                       48842 non-null  uint8
 42  native-country_Jamaica                     48842 non-null  uint8
 43  native-country_Japan                       48842 non-null  uint8
 44  native-country_Laos                        48842 non-null  uint8
 45  native-country_Mexico                      48842 non-null  uint8
 46  native-country_Nicaragua                   48842 non-null  uint8
 47  native-country_Outlying-US(Guam-USVI-etc)  48842 non-null  uint8
 48  native-country_Peru                        48842 non-null  uint8
 49  native-country_Philippines                 48842 non-null  uint8
 50  native-country_Poland                      48842 non-null  uint8
 51  native-country_Portugal                    48842 non-null  uint8
 52  native-country_Puerto-Rico                 48842 non-null  uint8
 53  native-country_Scotland                    48842 non-null  uint8
 54  native-country_South                       48842 non-null  uint8
 55  native-country_Taiwan                      48842 non-null  uint8
 56  native-country_Thailand                    48842 non-null  uint8
 57  native-country_Trinadad&Tobago             48842 non-null  uint8
 58  native-country_United-States               48842 non-null  uint8
 59  native-country_Vietnam                     48842 non-null  uint8
 60  native-country_Yugoslavia                  48842 non-null  uint8
dtypes: int64(12), uint8(49)
memory usage: 6.8 MB

In [ ]:
y = adult['income']
y

0        0
1        0
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: income, Length: 48842, dtype: int64

In [ ]:
x = adult.drop('income', axis = 1)
x

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,capital-gain,capital-loss,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,4,226802,1,7,4,7,3,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,4,89814,11,9,2,5,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,2,336951,7,12,2,11,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,4,160323,15,10,2,7,0,7688,0,...,0,0,0,0,0,0,0,1,0,0
4,18,0,103497,15,10,4,0,3,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,4,257302,7,12,2,13,5,0,0,...,0,0,0,0,0,0,0,1,0,0
48838,40,4,154374,11,9,2,7,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48839,58,4,151910,11,9,6,1,4,0,0,...,0,0,0,0,0,0,0,1,0,0
48840,22,4,201490,11,9,4,1,3,0,0,...,0,0,0,0,0,0,0,1,0,0
48841,52,5,287927,11,9,2,4,5,15024,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

cv_model_rf= RandomForestClassifier(n_estimators = 198, max_depth= None)
cv_model_dt = DecisionTreeClassifier()
cv_model_lg = LogisticRegression()

scores_rf = cross_val_score(cv_model_rf,x,y,cv = 4)
scores_dt = cross_val_score(cv_model_dt,x,y,cv = 4)
scores_lg = cross_val_score(cv_model_lg,x,y,cv = 4)

print(f'The final accuracy for the random forest model is {scores_rf.mean()}')
print(f'The final accuracy for the Decision tree model is {scores_dt.mean()}')
print(f'The final accuracy for the linear regression model is {scores_lg.mean()}')

The final accuracy for the random forest model is 0.8576225947510036
The final accuracy for the Decision tree model is 0.8135007097090465
The final accuracy for the linear regression model is 0.796998487085294

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(